.config-nav-block.zero1-tab strong:before {
    background: url(https://mdoq.io/img/logo-01.svg) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

.admin__menu [data-ui-id^="menu-zero1-"] .submenu-group-title span:before,
.admin__menu [data-ui-id^="menu-magento-"] [data-ui-id^="menu-magento-"] [data-ui-id^="menu-zero1-"] span:before {
    background: url(https://mdoq.io/img/logo-01.svg) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

.zero1base-grid-message {
    padding-left: 58px;
    min-height: 53px;
    background: url(../images/logo_m_table.png) no-repeat;
}

.zero1base-grid-message.mdoq-grid-logo {
    background: url(../images/logo_table.png) no-repeat;
}

.admin__action-dropdown-menu .notifications-entry:not(.notifications-entry-last) {
    padding-left: 37px;
    background: url(../images/logo_m_popup.png) no-repeat 5px 7px;
}

.admin__action-dropdown-menu .notifications-entry[data-zero1base-logo="1"] {
    background: url(../images/logo_popup.png) no-repeat 5px 7px;
}

